/* Body styles */
#body {
    background-color: lightblue;
    font-family: 'Roboto', sans-serif;
    margin: 1%;
}
/* End of Body styles */

/* Header styles */
#header {
    background-color: salmon;
    border: 2px solid black;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
}
/* End of Header Styles */

#box {
    background-color: sandybrown;
    border: 2px solid black;
    float: left; /* Float the box to the left */
    margin: 1%;
    padding: 1%;
}

/* Main Styles */
#main {
    background-color: sandybrown;
    border: 2px solid black;
    margin: 1%;
    padding: 1%;
}
/* End of Main Styles */

/* Footer styles */
#footer {
    background-color: burlywood;
    border: 2px dotted black;
    border-radius: 5px;
    border-left: none;
    border-right: none;
    margin: 1%;
    padding: 1%;
}
/* End of Footer Styles */