/* Body styles */
#body {
    background-color: lightblue;
    font-family: 'Roboto', sans-serif;
    margin: 1%;
}
/* End of Body styles */

/* Header styles */
#header {
    background-color: salmon;
    border: 2px solid black;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
}

#header:hover { /* Pseudo-class */
    background-color: darksalmon;
}

#header:active { /* Pseudo-class */
    background-color: darkred;
}

#box {
    background-color: sandybrown;
    border: 2px solid black;
    float: left;
    margin: 1%;
    padding: 1%;
}

#header-span {
    background-color: aquamarine;
    border: 1px solid black;
    display: inline;
}

#header div {
    background-color: bisque;
}

#header > div > div {
    background-color: darkseagreen;
}

#header ~ p {
    background-color: dodgerblue
}

#header + p {
    background-color: darkturquoise;
}
/* End of Header Styles */

/* Main Styles */
#main {
    background-color: sandybrown;
    border: 2px solid black;
    border-radius: 5px;
    height: 500px;
    margin: 1%;
    overflow: scroll;
    padding: 1%;
    width: 50%;
}

#main:hover { /* Pseudo-class */
    background-color: darksalmon;
}

#main:active { /* Pseudo-class */
    background-color: darkred;
}

#main-span {
    background-color: aquamarine;
    border: 1px solid black;
    display: inline-block;
    margin: 1%;
    padding: 1%;
}
/* End of Main Styles */

/* Footer styles */
#footer {
    background-color: burlywood;
    border: 2px dotted black;
    border-left: none;
    border-right: none;
    margin: 1%;
    padding: 1%;
}

#footer:hover { /* Pseudo-class */
    background-color: darksalmon;
}

#footer:active { /* Pseudo-class */
    background-color: darkred;
}

#footer-span {
    background-color: aquamarine;
    border: 1px solid black;
    display: block;
    margin: 1%;
    padding: 1%;
}
/* End of Footer Styles */